<head>
  <title>
    Floating Menu Style
  </title>
  <style>
    .strike-through td {
      text-decoration: line-through;
      color: grey;
    }

    .floating-menu {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      font-size: 20px;
      transition: all 0.3s ease;
    }

    .floating-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .floating-menu ul li {
      margin-bottom: 5px;
    }

    .floating-menu ul li a {
      text-decoration: none;
      color: #222;
      display: block;
      transition: color 0.3s ease;
    }

    .floating-menu ul li a:hover {
      color: #00a8e1;
    }
    .editable {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      background-color:#FAFAFA;
      width: 100%;
      height: 400px;
      overflow-y: auto;
      border: 1px solid #eee;
      box-shadow: 0 0 0 4px #ccc;
      border-radius: 8px;
    }
    h2 {
      margin-top: 35px;
    }
    .floating-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .floating-menu li {
      margin-bottom: 5px;
    }

    .floating-menu a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    .floating-menu .submenu {
      margin-top: 5px;
      margin-left: 20px; /* Indent the submenu */
    }

    .floating-menu .submenu a {
      font-size: 12px; /* Smaller font size for secondary titles */
      color: #555; /* Lighter text color for secondary titles */
    }


    .content {
      margin-right: 200px;
    }

  </style>
</head>


<div class="floating-menu">
  <ul>
<!--    <li><a href="#abstract-section">Abstract</a></li>-->
<!--    <li><a href="#workflow-section">Workflow</a></li>-->
    <li><a href="#operation-section">Operation Guidance</a>
      <ul class="submenu">
        <li ><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#prerequisites" style="color: #222;font-size: 16px">· Prerequisites</a></li>
        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#usage" style="color: #222;font-size: 16px">· Usage</a></li>
        <!-- Add more sub-items as needed -->
      </ul>
    </li>
    <li><a href="#migration-scenarios">Migration Scenarios</a>

    <li>
      <a href="#experiment-section">Experiment Result</a>
      <!--      <ul class="submenu">-->
      <!--        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#runtimeDatas" style="color: #222;font-size: 16px; ">· Effectiveness Study</a></li>-->
      <!--        <li><a onmouseover="this.style.color='#00a8e1'" onmouseout="this.style.color='#222'" href="#reliability-study" style="color: #222;font-size: 16px">· Runtime Difference</a></li>-->
      <!--        &lt;!&ndash; Add more sub-items as needed &ndash;&gt;-->
      <!--      </ul>-->
    </li>
    <li><a href="#example-section">Running Example</a>




  </ul>
</div>


<!--<div class="user-details" id="abstract-section">-->
<!--  <h1 style="font-weight: bold;">Abstract</h1>-->
<!--  <p style="text-align: left;">-->
<!--    Mobile app testing is an integral part of the app development cycle. However, developing tests can be a time-consuming and resource-intensive process. Recent research has modeled the automatic cross-app test migration as an event-matching problem. In particular, given an event generated by a test in the source app, these approaches attempt to identify the most closely matching event in the target app. Unfortunately, these approaches do not scale because they do not consider event inconsistencies and execution flow diversions among different apps into account.-->
<!--    <br>-->
<!--    <br>-->
<!--    This work presents ContextMig, a novel approach for cross-app test migration in Android. ContextMig addresses event inconsistencies and execution flow diversions by leveraging an LLM-powered agentic workflow—it breaks down the whole process of test migration into small parts, including test semantic analysis, event contextual analysis, event selection, and test script generation. We evaluated ContextMig on 553 test migration tasks from two widely-known datasets. The evaluation results show that ContextMig consistently outperforms the state-of-the-art and incurs a nominal overhead in terms of runtime.-->
<!--</div>-->



<head>
  <title>Data Display</title>
  <style>
    .table-container {
      max-height: 800px;
      overflow-y: auto;
      border: 1px solid black;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      text-align: center;
      padding: 0px;
    }

    td {
      word-wrap: break-word;
    }

    thead {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>


</body>

<!--<div class="user-details" id="workflow-section">-->
<!--  <h1 style="font-weight: bold;" >Workflow</h1>-->
<!--  <p style="text-align: left;">The workflow of ContextMig leverages a structured, iterative process, beginning with the semantic analysis of tests from a source app using large language models (LLMs) to identify the underlying use cases. It then regenerates corresponding tests for a target app by launching the app, dynamically analyzing events on the current page, and using LLM agents to evaluate and select events based on their semantics. Scripts are generated for these events and executed to trigger the desired interactions, with the process repeating until the test is fully regenerated. This approach allows ContextMig to efficiently handle the complexity of test migration by breaking it down into smaller, manageable tasks.</p>-->
<!--  <img src="https://github.com/Auto-TM/ContextMig.github.io/blob/main/assets/images/workflow.png?raw=true" alt="workflow" style="width: 1000px; height: auto;">-->
<!--</div>-->


<div class="user-details" id="operation-section">
  <h1 style="font-weight: bold;" >Operation Guidance</h1>
  <style>
    ol {
      padding-left: 20px;
    }
    li {
      text-align: left;
    }
  </style>

  <ol>
    <li>
      <h3 id="prerequisites">Prerequisites</h3>
      <ul>
        <li>A Pixel 3 emulator with API 23 with target app installed</li>
        <li>OpenAI API Key</li>
        <li>Python 3.8</li>
      </ul>
    </li>

    <li>
      <h3 id="usage">Usage</h3>
      <ul>
        <li>Install the required packages: 'pip install -r requirements.txt'.</li>
        <li>Populate the 'code/config.py' file with the information of device name and gpt api key.</li>
        <li>Set the objects to be migrated for this ContextMig run in the 'subjects' variable of 'migrate_subjects.py', with the format: 'source app_test_target app'.</li>
        <li>Run the 'code/main.py' file.</li>
        <li>You can view the running logs of the six agents (test semantic analyzer, event contextual semantic analyzer, event selector/validator, test script generator/validator) in the console or in the 'log/run.log' file.</li>
        <li>After the migration is complete, you will find a markdown file summarizing the workflow of this migration in the folder 'dataset/result/'.</li>
      </ul>
    </li>
  </ol>


</div>



<div class="user-details"  id="migration-scenarios">
  <h1 style="font-weight: bold;" >Migration Scenarios</h1>
  <div style="text-align: left;">
    Strikethrough lines indicate test migration scenarios where the tested functionality is unavailable in the target application, corresponding to excluded migration cases.
  </div>
</div>
<body>
<div class="table-container">

  <table id="scenariosDatas">
    <thead>
    <tr>
      <th style="width: 45px;" >Source App</th>
      <th style="width: 45px;" >Target App</th>
      <!--      <th style="width: 65px;">Number of Test Case</th>-->
      <!--      <th style="width: 95px;">Number of Complete Migration</th>-->
      <th style="width: 38px;">Test Id</th>
      <!--      <th style="width: 50px;">Test Description</th>-->
<!--      <th style="width: 65px;">Migration Status</th>-->
      <th style="width: 80px;">Step Addition</th>
      <th style="width: 80px;">Step Omission</th>
      <th style="width: 80px;">Interact. Mod.</th>
      <th style="width: 180px;">Comp. Type</th>
      <th style="width: 65px;">Dyn. Comp.</th>
      <!--      <th style="width: 50px;">Reason of Migrate Type</th>-->
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<img src="{{ '/assets/images/distribution_of_scenarios.png' | relative_url }}" alt="workflow" style="width: 1000px; height: auto;">



<div class="user-details"  id="experiment-section">
  <h1 style="font-weight: bold;" >Experiment Results</h1>
  <div style="text-align: left;">
    <b>Migration data</b>
<!--    Strikethrough lines indicate test migration scenarios where the tested functionality is unavailable in the target application, corresponding to excluded migration cases.-->
<!--    In the 'Source App' and 'Target App' fields, the left part of the '|' character represents our newly defined App identifier, and the right part represents the App Name from the APPTESTMIGRATOR dataset and Craftdroid dataset.-->
  </div>
</div>
<body>
<div class="table-container">

  <table id="runtimeDatas">
    <thead>
    <tr>
      <th style="width: 55px;" >Source App</th>
      <th style="width: 55px;" >Target App</th>
<!--      <th style="width: 65px;">Number of Test Case</th>-->
<!--      <th style="width: 95px;">Number of Complete Migration</th>-->
      <th style="width: 50px;">Test Id</th>
<!--      <th style="width: 50px;">Test Description</th>-->
      <th style="width: 100px;">Number of Source Test Case's Event</th>
      <th style="width: 100px;">Number of Source Test Case's Oracle</th>
      <th style="width: 65px;">Migration Status</th>

      <!--      <th style="width: 75px;">Consuming Time(s)</th>-->
<!--      <th style="width: 65px;">Migration Type</th>-->
<!--      <th style="width: 120px;">Remark</th>-->
<!--      <th style="width: 50px;">Reason of Migrate Type</th>-->
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


</div>
<br>
<table id="runtimeDatas1">
  <thead>
  <tr>
    <th style="width: 45px;">Label Category</th>
    <th style="width: 45px;">#Total</th>
    <th style="width: 45px;">#Migrated</th>
    <th style="width: 45px;">Success Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Step Addition</td>
    <td>129</td>
    <td>116.7</td>
    <td>90.4%</td>
  </tr>
  <tr>
    <td>Step Omission</td>
    <td>188</td>
    <td>170.3</td>
    <td>90.6%</td>
  </tr>
  <tr>
    <td>Interaction Changes</td>
    <td>37</td>
    <td>31.7</td>
    <td>85.6%</td>
  </tr>
  <tr>
    <td>Type Changes</td>
    <td>289</td>
    <td>269.0</td>
    <td>93.1%</td>
  </tr>
  <tr>
    <td>Dynamic Components</td>
    <td>251</td>
    <td>240.0</td>
    <td>95.6%</td>
  </tr>
  </tbody>
</table>
<br>
<table id="labelCountData" border="1">
  <thead>
  <tr>
    <th style="width: 45px;">Label Count</th>
    <th style="width: 45px;">#Total</th>
    <th style="width: 45px;">#Migrated</th>
    <th style="width: 45px;">Success Rate</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0</td>
    <td>51</td>
    <td>51.0</td>
    <td>100.0%</td>
  </tr>
  <tr>
    <td>1</td>
    <td>108</td>
    <td>108.0</td>
    <td>100.0%</td>
  </tr>
  <tr>
    <td>2</td>
    <td>180</td>
    <td>156.3</td>
    <td>86.9%</td>
  </tr>
  <tr>
    <td>3</td>
    <td>99</td>
    <td>95.7</td>
    <td>96.6%</td>
  </tr>
  <tr>
    <td>4</td>
    <td>19</td>
    <td>19.0</td>
    <td>100.0%</td>
  </tr>
  <tr>
    <td>5</td>
    <td>16</td>
    <td>10.3</td>
    <td>64.6%</td>
  </tr>
  </tbody>
</table>
<br>
<hr>
<div style="text-align: left;">
  <b>Comparative Performance of Different Tools on APPTESTMIGRATOR dataset(Unit: Quantity)</b>
</div>
<table id="atmDatasetTable" border="1">
  <thead>
  <tr>
    <th style="width: 70px;"></th>
    <th style="width: 45px;">0</th>
    <th style="width: 45px;">1</th>
    <th style="width: 45px;">2</th>
    <th style="width: 45px;">3</th>
    <th style="width: 45px;">4</th>
    <th style="width: 45px;">5</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>ALL</td>
    <td>17</td>
    <td>63</td>
    <td>129</td>
    <td>85</td>
    <td>19</td>
    <td>4</td>
  </tr>
  <tr>
    <TD>CRAFTDROID</TD>
    <TD>11</TD>
    <TD>32</TD>
    <TD>61</TD>
    <TD>36</TD>
    <TD>7</TD>
    <TD>1</TD>
  </tr>
  <tr>
    <td>APPTESTMIGRATION</td>
    <td>12</td>
    <td>39</td>
    <td>65</td>
    <td>36</td>
    <td>5</td>
    <td>0</td>
  </tr>
  <tr>
    <td>TEMdroid</td>
    <td>9</td>
    <td>28</td>
    <td>52</td>
    <td>30</td>
    <td>4</td>
    <td>0</td>
  </tr>
  </tbody>
</table>
<br>
<div style="text-align: center;">
  <img src="{{ '/assets/images/metrics_on_atm_stack.png' | relative_url }}" alt="workflow" style="width: 700px;text-align: center; height: auto;">
</div>

<hr>
<div style="text-align: left;">
  <b>Comparative Performance of Different Tools on CRAFTDROID dataset(Unit: Quantity)</b>
</div>
<table id="craftDroidDatasetTable" border="1">
  <thead>
  <tr>
    <th style="width: 150px;"></th>
    <th style="width: 45px;">0</th>
    <th style="width: 45px;">1</th>
    <th style="width: 45px;">2</th>
    <th style="width: 45px;">3</th>
    <th style="width: 45px;">4</th>
    <th style="width: 45px;">5</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>ALL</td>
    <td>36</td>
    <td>54</td>
    <td>40</td>
    <td>14</td>
    <td>0</td>
    <td>12</td>
  </tr>
  <tr>
    <td>CRAFTDROID</td>
    <td>31</td>
    <td>41</td>
    <td>30</td>
    <td>10</td>
    <td>0</td>
    <td>2</td>
  </tr>
  <tr>
    <td>TEMdroid</td>
    <td>24</td>
    <td>36</td>
    <td>16</td>
    <td>6</td>
    <td>0</td>
    <td>2</td>
  </tr>
  </tbody>
</table>
<br>
<div style="text-align: center;">
  <img src="{{ '/assets/images/metrics_on_craftdroid_stack.png' | relative_url }}" alt="workflow" style="width: 700px;text-align: center; height: auto;">
</div>

<hr>
<div style="text-align: left;">
  <b>Comparative Performance of LLM Variants on Both Datasets</b>
</div>
<table id="craftDroidLLMTable" border="1">
  <thead>
  <tr>
    <th style="width: 120px;"> </th>
    <th style="width: 120px;">Step Addition</th>
    <th style="width: 120px;">Step Omission</th>
    <th style="width: 150px;">Interaction Changes</th>
    <th style="width: 120px;">Type Changes</th>
    <th style="width: 150px;">Dynamic Components</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>CRAFTDROID</td>
    <td>56.6%</td>
    <td>49.5%</td>
    <td>37.8%</td>
    <td>49.7%</td>
    <td>54.6%</td>
  </tr>
  <tr>
    <td>LLM_Parsing</td>
    <td>68.2%</td>
    <td>52.2%</td>
    <td>43.2%</td>
    <td>58.3%</td>
    <td>61.0%</td>
  </tr>
  <tr>
    <td>LLM_Analysis</td>
    <td>66.7%</td>
    <td>51.6%</td>
    <td>40.5%</td>
    <td>55.9%</td>
    <td>59.8%</td>
  </tr>
  <tr>
    <td>LLM_Matching</td>
    <td>61.2%</td>
    <td>53.3%</td>
    <td>43.2%</td>
    <td>60.1%</td>
    <td>63.1%</td>
  </tr>
  <tr>
    <td>LLM_Full</td>
    <td>70.5%</td>
    <td>55.4%</td>
    <td>45.9%</td>
    <td>66.7%</td>
    <td>67.9%</td>
  </tr>
  </tbody>
</table>
<br>
<div style="text-align: center;">
  <img src="{{ '/assets/images/metrics_on_all.png' | relative_url }}" alt="workflow" style="width: 700px;text-align: center; height: auto;">
</div>


<div class="user-details" id="example-section">
  <h1 style="font-weight: bold;" >Running Example</h1>
  <p style="text-align: left;">This example illustrates the migration of a test case between two shopping list management applications, demonstrating the migratability of a test case for sorting items in descending order by price from a source application to a target application.
    <br>
    In the source app, the test case entails a sequence of operations: navigating to 'Family', proceeding to 'Menu', then 'Settings', selecting 'Sort order', choosing 'Most expensive first', and finally clicking 'Back'.
    <br>
    In the target app, the corresponding sequence after migration involves navigating to 'Family', then 'Menu', selecting 'Sort', choosing 'Descending', specifying 'Price', and clicking 'OKAY'.
  </p>
  <img src="{{ '/assets/images/motivation_example.png' | relative_url }}" alt="workflow" style="width: 1000px; height: auto;">
  <!--  <div style="text-align: left;">-->
  <!--    The demonstration video illustrating the running example of ContextMig:-->
  <!--    <video controls style="width: 100%; height: auto;">-->
  <!--      <source src="{{ '/assets/images/demo_video.mp4' | relative_url }}" type="video/mp4">-->
  <!--      Your browser does not support the video-->
  <!--    </video>-->


  <!--  </div>-->
  <div style="text-align: left;">
    Here is the detailed workflow process for migrating the running example using ContextMig:
    <ul style="margin-top: 1px">
      <li>
        The 'Semantics of Source Test Case' is extracted by the Test Semantic Analyzer.
      </li>
      <li>
        The 'Contextual Semantics of Widgets' is obtained through the Event Contextual Analyzer.
      </li>
      <li>
        The 'Selected Event(s) and Script' is derived using the Event Selector and the Test Script Generator.
      </li>
      <li>
        The 'Migration Success' denotes that the migration process is successful and includes the scripts that are executed during the process.
      </li>
    </ul>
  </div>
  <div class="editable">
    <!--    <h1 style="text-align: left;">1</h1>-->

    <p style="text-align: left;font-weight: bold;font-size: larger">Semantics of Source Test case</p>
    <div style="text-align: left;">
      1. ACTION (TextView, , (), click, "Family"): Select the "Family" filter from the dropdown.
      <br>
      2. ACTION (ImageButton, , (), click, NULL): Click on the overflow menu in the action bar to open additional settings.
      <br>
      3. ACTION (TextView, android.R.id.title, (), click, "Settings"): Click on the "Settings" menu item.
      <br>
      4. ACTION (TextView, , (), click, "Sort order"): Click on the "Sort order" option to change the sorting method.
      <br>
      5. ACTION (TextView, , (), click, "most expensive first"): Select the sorting option "most expensive first" to sort the items.
      <br>
      6. RETURN: Press back to return to the shopping list with the new sorting applied.
      <br>
      7. ASSERT (RecyclerView, R.id.list_items, (), customAssertion "ViewTextOrderAssertion"): Verify that the items in the shopping list are sorted as expected, specifically looking for "Meat", "Egg", and "Noodles" in that order.
    </div>
    <p style="text-align: left;font-weight: bold;font-size: larger">Contextual Semantics of Widgets of Page a</p>
    <div style="text-align: left;">
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/imageview_delete, (272, 28), click, NULL): Click to delete the list. The page after clicking this control is the delete list page, which has a delete button and a delete item component.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/imageview_sort, (224, 28), click, NULL): Click to sort the list. The page after clicking this control is the sort list page, which has options to sort in ascending or descending order, by name or priority, and buttons to cancel or confirm the sorting.
      <br>
      ACTION (android.widget.ImageButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/expand_button_list, (8, 88), click, NULL): Click to expand the list details. The page after clicking this control is the list details page, which has a list details component.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_list_name, (58, 88), click, NULL): Click to view the details of the 'Family' list. The page after clicking this control is the list detail page, which has a search button, more options button, and a list of items in the 'Family' list.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_prod_quantity, (272, 88), click, NULL): Click to view the quantity of the product in the list. The page after clicking this control is the product list page, which has a search button, more options button, and a list of products with their quantities.
      <br>
      ACTION (android.widget.ImageButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/fab_new_list, (248, 568), click, NULL): Click to create a new shopping list. The page after clicking this control is the new list creation page, which has a text input for the list name, a switch for statistics, a spinner for priority selection, a checkbox for setting a deadline, a text input for notes, and buttons for cancel and confirm actions.
    </div>
    <p style="text-align: left;font-weight: bold;font-size: larger">Selected Event(s) and Script: Navigating to 'Family'(Page a → b)</p>
    <div style="text-align: left;">
      Looking at the functional description and the current page's interface intent description, the required next action is to select the "Family" list. This matches with `ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_list_name, (58, 88), click, NULL)`.
      <br>
      <br>
      Therefore, let's execute this action.
      <br>
      ~~~
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_list_name, (58, 88), click, NULL): Click on the 'Family' list to view its details.
      <br>
      ~~~
      <br>
      Corresponding Python code:
      <br>
      ···
      <br>
      d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_list_name").click()
      <br>
      ···
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Contextual Semantics of Widgets of Page b</p>
    <div style="text-align: left;">
      ACTION (android.widget.ImageButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/fab_new_product, (248, 504), click, NULL): Click to add a new product to the list. The page after clicking this control is the product addition page, which has a product name input box, a quantity input box, and a save button.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/imageview_search, (224, 28), click, NULL): Click to search for a specific item in the list. The page after clicking this control is the search page, which has a search input field, a cancel search button, and a list of items that can be selected.
      <br>
      ACTION (android.widget.ImageView, NULL, (280, 28), click, NULL): Click to open more options. The page after clicking this control is the options page, which has sort and delete options.
      <br>
      ACTION (android.widget.LinearLayout, NULL, (120, 28), click, NULL): Click to sort the items in the list. The page after clicking this control is the sorted list page.
      <br>
      ACTION (android.widget.LinearLayout, NULL, (120, 76), click, NULL): Click to delete items from the list. The page after clicking this control is the delete confirmation page, which has a confirmation message and yes/no options.
      <br>
      ACTION (android.widget.FrameLayout, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/cardview_item, (8, 88), click, NULL): Click to view the details of the item. The page after clicking this control is the item details page, which has a checkbox for selection, a text field for the item name, a text field for the quantity, and a button for adding a new product.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_product_name, (98, 88), click, NULL): Click to view or edit the product details. The page after clicking this control is the product detail page, which has product name, quantity, price, notes input fields and okay, cancel buttons.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_prod_quantity, (289, 88), click, NULL): Click to view the quantity of the product. The page after clicking this control is the product details page, which has a product name, quantity, price, and notes input fields, and a checkbox to mark the product as selected.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_total_checked, (69, 576), click, NULL): To view the current total cost of all selected products in the list, features available on the subsequent page are the same - navigation, search, item selection and addition of new product to the list.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_total_amount, (137, 576), click, NULL): Click to view the total amount for the shopping list. The page after clicking this control is the same shopping list page with the same controls available.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_currency, (196, 598), click, NULL): Click to change the currency. The page after clicking this control is the currency selection page, which has a list of available currencies.
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Selected Event(s) and Script: Clicking to 'Menu'(Page b → c)</p>
    <div style="text-align: left;">
      ~~~
      <br>
      ACTION (android.widget.ImageView, NULL, (280, 28), click, NULL): Click to open more options.
      <br>
      ~~~
      <br>
      ···
      <br>
      d.click(280, 28)
      <br>
      ···
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Contextual Semantics of Widgets of Page c</p>
    <div style="text-align: left;">
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/title, (136, 89), click, NULL): Click to delete the item. The page after clicking this control is the delete item page, which has a delete button and a delete item component.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/title, (136, 41), click, NULL): Click to sort the list. The page after clicking this control is the sort list page, which has options for ascending/descending and sorting by name, store, quantity, price, or category.
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Selected Event(s) and Script: Selecting 'Sort'(Page c → d)</p>
    <div style="text-align: left;">
      ~~~
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/title, (136, 41), click, NULL): Click to open the sorting settings.
      <br>
      ~~~
      <br>
      ···
      <br>
      d.click(136, 41)
      <br>
      ···
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Contextual Semantics of Widgets of Page d</p>
    <div style="text-align: left;">
      ACTION (android.widget.TextView, android:id/alertTitle, (48, 148), click, NULL): Click to sort the list. The page after clicking this control is the sort list page, which has ascending/descending and sort by options, along with cancel and okay buttons.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_ascending, (44, 215), click, NULL): Click to sort the list in ascending order. The page after clicking this control is the sorted list page, which has a list of items sorted in ascending order.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_descending, (44, 247), click, NULL): Click to sort the list in descending order. The page after clicking this control is the sorted list page, which has a list of items sorted in descending order.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_name, (44, 298), click, NULL): Click to sort the list by name. The page after clicking this control is the sorted list page, which has a list of items sorted by name.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_store, (44, 330), click, NULL): Click to sort the list by store. The page after clicking this control is the sorted list page, which has a list of items sorted by store.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_quantity, (44, 362), click, NULL): Click to sort the list by quantity. The page after clicking this control is the sorted list page, which has a list of items sorted by quantity.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_price, (44, 394), click, NULL): Click to sort the list by price. The page after clicking this control is the sorted list page, which has a list of items sorted by price.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_category, (44, 426), click, NULL): Click to sort the list by category. The page after clicking this control is the sorted list page, which has a list of items sorted by category.
      <br>
      ACTION (android.widget.Button, android:id/button2, (143, 482), click, NULL): Click to cancel the sorting operation. The page after clicking this control is the previous page, which has the list of items in their original order.
      <br>
      ACTION (android.widget.Button, android:id/button1, (220, 482), click, NULL): Click to confirm the sorting operation. The page after clicking this control is the sorted list page, which has a list of items sorted according to the selected criteria.
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Selected Event(s) and Script: Choosing 'Descending' → Specifying 'Price' → Clicking 'OKAY' (Page d → e → f)</p>
    <div style="text-align: left;">
      ~~~
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_price, (44, 394), click, NULL): Click to sort the list by price.
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_descending, (44, 247), click, NULL): Click to sort the list in descending order.
      <br>
      ACTION (android.widget.Button, android:id/button1, (220, 482), click, NULL): Click to confirm the sorting operation.
      <br>
      ~~~
      <br>
      Then, transform the ACTION to uiautomator2 in python:
      <br>
      ···
      <br>
      d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_price").click()
      <br>
      d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_descending").click()
      <br>
      d(resourceId="android:id/button1").click()
      <br>
      ···
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Contextual Semantics of Widgets of Page f</p>
    <div style="text-align: left;">
      ACTION (android.widget.ImageButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/fab_new_product, (248, 504), click, NULL): Click to add a new product. The page after clicking this control is the product addition page, which has a product name input box, a quantity input box, a unit dropdown, a price input box, a store input box, a category dropdown, a note input box, and a save button.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/imageview_search, (224, 28), click, NULL): Click to search for a specific item in the list. The page after clicking this control is the search page, which has a search input field, a cancel search button, and a list of items that match the search query.
      <br>
      ACTION (android.widget.ImageView, NULL, (280, 28), click, NULL): Click to open more options. The page after clicking this control is the options page, which has sort and delete options.
      <br>
      ACTION (android.widget.FrameLayout, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/cardview_item, (8, 88), click, NULL): Click to view the details of the item. The page after clicking this control is the item details page, which has item name, quantity, and other details.
      <br>
      ACTION (android.widget.CheckBox, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/checkbox_is_selected, (58, 88), click, NULL): Click to select or deselect the item. The page after clicking this control remains the same, but the status of the item changes.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_product_name, (98, 88), click, NULL): Click to view or edit the details of the product. The page after clicking this control is the product detail page, which has editable fields for product name, quantity, price, and notes, as well as a checkbox for selection and buttons for confirmation and cancellation.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_prod_quantity, (289, 88), click, NULL): Click to edit the quantity of the product. The page after clicking this control is the edit product page, which has a product name input, quantity input, price input, notes input, and an expand button.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_total_checked, (69, 576), click, NULL): Click to check the total amount of checked items. The page after clicking this control is the same page, which has a search button, more options button, and a new product button.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_total_amount, (137, 576), click, NULL): Click to view the total amount of the shopping list. The page after clicking this control is the total amount page, which has a total amount component.
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_currency, (196, 598), click, NULL): Click to change the currency. The page after clicking this control is the currency selection page, which has a list of available currencies.
    </div>

    <p style="text-align: left;font-weight: bold;font-size: larger">Selected Event(s) and Script: Assertions</p>
    <div style="text-align: left;">
      Based on the provided executed action sequence, your actions have so far succeeded in corresponding to steps 1 to 5 of the functional description. The items within the "Family" list have been sorted by the most expensive first. Now, you can proceed to the next step.
      <br>
      The next action according to the functional description is to return to the shopping list. However, it seems like we are already viewing the sorted list. Therefore, we can move on to the final step, which is to verify that the sorted order is correct.
      <br>
      ~~~
      <br>
      ASSERT (RecyclerView, R.id.list_items, (), customAssertion "ViewTextOrderAssertion"): Verify that the items in the shopping list are sorted as expected, specifically looking for "Meat", "Egg", and "Noodles" in that order.
      <br>
      ~~~
      <br>
      ···
      <br>
      assert (d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_product_name", index=0).get_text() == "Meat")
      <br>
      assert (d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_product_name", index=1).get_text() == "Egg")
      <br>
      assert (d(resourceId="privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_product_name", index=2).get_text() == "Noodles")
      <br>
      ···
    </div>


    <p style="text-align: left;font-weight: bold;font-size: larger">Success Migration</p>
    <div style="text-align: left;">
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/textview_list_name, (58, 88), click, NULL): Click on the 'Family' list to view its details. Exec_Success
      <br>
      ACTION (android.widget.ImageView, NULL, (280, 28), click, NULL): Click to open more options. Exec_Success
      <br>
      ACTION (android.widget.TextView, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/title, (136, 41), click, NULL): Click to open the sorting settings. Exec_Success
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_price, (44, 394), click, NULL): Click to sort the list by price.  Exec_Success
      <br>
      ACTION (android.widget.RadioButton, privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist:id/radiobutton_descending, (44, 247), click, NULL): Click to sort the list in descending order. Exec_Success
      <br>
      ACTION (android.widget.Button, android:id/button1, (220, 482), click, NULL): Click to confirm the sorting operation. Exec_Success
      <br>
      ASSERT (RecyclerView, R.id.list_items, (), customAssertion "ViewTextOrderAssertion"): Verify that the items in the shopping list are sorted as expected, specifically looking for "Meat", "Egg", and "Noodles" in that order. Exec_Success
    </div>
  </div>
</div>


<script src="assets/js/runtimeDatas.js"></script>
<script src="assets/js/scenariosDatas.js"></script>
<script src="assets/js/runtimeScript.js"></script>
<script src="assets/js/scenarioScript.js"></script>
</body>




<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuLinks = document.querySelectorAll(".floating-menu a");

    menuLinks.forEach(function(link) {
      link.addEventListener("click", function(event) {
        event.preventDefault();

        const targetId = this.getAttribute("href").substring(1);
        const targetSection = document.getElementById(targetId);

        if (targetSection) {
          window.scrollTo({
            top: targetSection.offsetTop - 50,
            behavior: "smooth"
          });
        }
      });
    });
  });
</script>

